@use "src/assets/styles/constants" as c;

header {
  min-height: 100px;
}

#death-star {
  transition: transform c.$time-slow;
}

#header-title {
  h1 {
    transition: font-size c.$time-regular;
  }

  transition: transform c.$time-regular;
}

#navbar-left:hover {
  #death-star {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  #header-title {
    h1 {
      font-size: 3rem;
    }

    transform: translate(0.34em, -30%);
  }
}
