<div class="mx-3 d-inline">
  <div class="d-table-row">
    <img alt="Star destroyer starship icon" class="d-table-cell"
         src="https://img.icons8.com/color/76/000000/imperial-star-destroyer.png"/>
    <h1 class="d-table-cell vertical-align-bottom m-0 txt-light txt-l txt-shadow-light">Some beautiful starships:</h1>
  </div>
</div>

<ng-container *ngIf="starshipController.starships; else loadingStarships">
  <ul class="flex container row justify-content-space-evenly p-0">
    <ng-container *ngFor="let starship of starshipController.starshipsObservable() | async; let i = index">
      <li style="width: 28%">
        <a routerLink="/starship/{{i}}">
          <app-card>
            <ng-container header>
              <h2 class="txt-light my-0 mb-1">{{starship.name}}</h2>
            </ng-container>
            <ng-container content>
              <app-starship-summary [starship]="starship"></app-starship-summary>
            </ng-container>
          </app-card>
        </a>
      </li>
    </ng-container>
  </ul>
</ng-container>
<ng-template #loadingStarships>
  <app-loading></app-loading>
</ng-template>

