<h1>Star-wars' starships:</h1>

<ng-container *ngIf="starshipController.starships; else loadingStarships">
  <ul class="flex container row justify-content-space-evenly p-0">
    <ng-container *ngFor="let starship of starshipController.starships; let i = index">
      <li class="card">
        <a routerLink="/starship/{{i}}">
          <app-starship-summary [starship]="starship"></app-starship-summary>
        </a>
      </li>
    </ng-container>
  </ul>
</ng-container>
<ng-template #loadingStarships>
  <app-loading></app-loading>
</ng-template>

