<div class="txt-sm">
  <b>Model:</b> {{starship.model}}<br/>
  <b>Cost in credits:</b> {{starship.cost_in_credits}}<br/>
  <b>Members in the crew:</b> {{starship.crew}}<br/>
  <b>Amount of passengers:</b> {{starship.passengers}}<br/>
  <b>Max atmosphering speed:</b> {{starship.max_atmosphering_speed}}mph<br/>
  <b>Hyperdrive rating:</b> {{starship.hyperdrive_rating}}<br/>
  <b>MGLT:</b> {{starship.MGLT}}<br/>
  <b>Starship class:</b> {{starship.starship_class}}<br/>
  <b>Nb pilots:</b> {{starship.pilots.length}}<br/>
  <b>Nb films:</b> {{starship.films.length}}<br/>
</div>
