<article class="txt-sm mx-2">
  <div class="mt-2">
    <app-sub-title>
      <img alt="Star destroyer starship icon" class="d-table-cell"
           img src="https://img.icons8.com/color/76/000000/imperial-star-destroyer.png"/>
      <ng-container title>{{starship.name}}' details:</ng-container>
    </app-sub-title>
    <div class="mt-3">
      <app-card>
        <ng-container content>
          <app-starship-summary [starship]="starship"></app-starship-summary>
          <b>Manufacturer:</b> {{starship.manufacturer}}<br/>
          <b>Length:</b> {{starship.length}}<br/>
          <b>Cargo capacity:</b> {{starship.cargo_capacity}}<br/>
          <b>Consumables:</b> {{starship.consumables}}<br/>
        </ng-container>
      </app-card>
    </div>
  </div>

  <div class="mt-4">
    <app-sub-title>
      <img alt="Star destroyer starship icon" class="d-table-cell"
           img src="https://img.icons8.com/color/76/000000/c-3po.png"/>
      <ng-container title>Pilots</ng-container>
    </app-sub-title>

    <ul class="mx-0 px-0">
      <ng-container *ngFor="let pilotUrl of starship.pilots">
        <li>
          <a routerLink="/people/{{extractId(pilotUrl)}}">
            <app-card>
              <ng-container content>
                <app-people-summary [peopleIndex]="extractId(pilotUrl)"></app-people-summary>
              </ng-container>
            </app-card>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="mt-4">
    <app-sub-title>
      <img alt="Film icon" class="d-table-cell"
           img src="https://img.icons8.com/color/76/000000/film-reel.png"/>
      <ng-container title>Films</ng-container>
    </app-sub-title>

    <app-card>
      <ng-container content>
        <ul class="mx-0 px-0">
          <ng-container *ngFor="let film of starship.films; let i = index">
            <li>
              "{{film}}"
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </app-card>
  </div>

</article>
