<article class="txt-sm mx-2">
  <div class="mt-2">
    <app-sub-title>
      <img alt="Star destroyer starship icon" class="d-table-cell"
           img src="https://img.icons8.com/color/76/000000/imperial-star-destroyer.png"/>
      <ng-container title>{{starship.name}}'s details:</ng-container>
    </app-sub-title>
    <div class="mt-3">
      <app-card>
        <ng-container content>
          <app-starship-summary [starship]="starship"></app-starship-summary>
          <b>Manufacturer:</b> {{starship.manufacturer}}<br/>
          <b>Length:</b> {{starship.length}}<br/>
          <b>Cargo capacity:</b> {{starship.cargo_capacity}}<br/>
          <b>Consumables:</b> {{starship.consumables}}<br/>
        </ng-container>
      </app-card>
    </div>
  </div>


  <div class="mt-4">
    <app-sub-title>
      <img alt="Star destroyer starship icon" class="d-table-cell"
           img src="https://img.icons8.com/color/76/000000/c-3po.png"/>
      <ng-container title>Pilots</ng-container>
    </app-sub-title>
    <div class="flex row justify-content-space-evenly align-items-flex-end">
      <ng-container *ngIf="starship.pilots.length; else noPilots">
        <ng-container *ngFor="let pilotUrl of starship.pilots">
          <a routerLink="/people/{{extractId(pilotUrl)}}">
            <app-card>
              <ng-container content>
                <app-people-summary [peopleIndex]="extractId(pilotUrl)"></app-people-summary>
              </ng-container>
            </app-card>
          </a>
        </ng-container>
      </ng-container>
      <ng-template #noPilots>
        <app-card>
          <ng-container content>
            {{starship.name}}'s pilots are yet to be found...
          </ng-container>
        </app-card>
      </ng-template>
    </div>
  </div>


  <div class="mt-4">
    <app-sub-title>
      <img alt="Film icon" class="d-table-cell"
           img src="https://img.icons8.com/color/70/000000/film-reel.png"/>
      <ng-container title><p class="d-inline mx-1">Films</p></ng-container>
    </app-sub-title>
    <ng-container *ngIf="starship.films.length; else noFilms">
      <app-card>
        <ul class="mx-0 px-0" content>
          <ng-container *ngFor="let film of starship.films; let i = index">
            <li>
              "{{film}}"
            </li>
          </ng-container>
        </ul>
      </app-card>
    </ng-container>
    <ng-template #noFilms>
      <app-card>
        <ng-container content>
          Apparently {{starship.name}} wasn't good enough to make it to the theater...
        </ng-container>
      </app-card>
    </ng-template>
  </div>
</article>
