@use "assets/styles/constants" as c;
@use "assets/styles/spacings" as spacing;
@use "assets/styles/borders" as borders;
@use "assets/styles/flex" as flex;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


// Global
body {
  background-color: c.$light;
  font-family: c.$main-font;
  margin: 0;
}


// Mixins
@mixin box-shadow($color, $opacity) {
  -webkit-box-shadow: .0rem .0rem 1.3rem rgba($color, $opacity);
  -moz-box-shadow: .0rem .0rem 1.3rem rgba($color, $opacity);
  box-shadow: .0rem .0rem 1.3rem rgba($color, $opacity);
}

@mixin txt-shadow($color, $opacity) {
  text-shadow: .0rem .0rem 1.2rem rgba($color, $opacity);
}


// Layout elements
.card {
  @extend .rounded;
  @extend .shadow-light;
  @extend .p-2;
  @extend .m-3;
  background-color: c.$blue;
}

.flashy-card {
  background-color: rgba(c.$primary-flashy, 0.27);

  a {
    color: c.$light !important;
  }
}


// Aligns
.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

// Display elements
.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}


// Text
.txt-light {
  color: c.$light;
}

.txt-dark {
  color: c.$dark;
}

.txt-undecorated {
  text-decoration: none;
}

.txt-xs {
  font-size: 0.9rem;
}

.txt-sm {
  font-size: 1.24rem;
}

.txt-md {
  font-size: 1.68rem;
}

.txt-l {
  font-size: 2.1rem;
}

.txt-xl {
  font-size: 2.65rem;
}


// Shadows
.shadow-primary {
  @include box-shadow(c.$primary, c.$very-low-opacity);
}

.shadow-light {
  @include box-shadow(c.$light, 14%);
}

.txt-shadow-primary {
  @include txt-shadow(c.$primary, c.$very-low-opacity + 0.3);
}

.txt-shadow-light {
  @include txt-shadow(c.$light, c.$very-low-opacity)
}


// Background colors
.bg-primary {
  background-color: c.$primary;
}

.bg-secondary {
  background-color: c.$secondary;
}

.bg-dark {
  background-color: c.$dark;
}

.bg-dark-light {
  background-color: c.$dark-light;
}


// Hyperlinks
a {
  @extend .txt-undecorated;
  color: c.$dark;
}


// Buttons
.btn {
  border: solid 1px c.$light;
  background: transparent;
  color: c.$light;
  border-radius: 0.12em;
  @include spacing.padding-y(7px);
  @include spacing.padding-x(12px);
  transition-duration: c.$time-instant;
  font-weight: bold;
}

.btn:hover {
  background: c.$light;
  color: c.$dark;
  font-size: 0.94em;
}

.btn-lg {
  font-size: 1em;
}

.btn-lg:hover {
  font-size: 1.1em;
}


// Borders
.rounded {
  border-radius: 7px;
}


// Lists
li {
  list-style: none;
  width: 250px;
  padding: 6px;
  margin-bottom: 3px;
}
