$main-font: 'Lato', sans-serif;

// Colors
$light: #f6f6f6;
$dark: #111111;
$dark-light: #2a2a2a;
$primary: #523c49;
$primary-light: #705b6d;
$primary-flashy: #9d286e;
$primary-dark: #30292e;
$secondary: #AB866C;
$secondary-light: #ff9a61;
$secondary-dark: #8c6f60;
$blue: #5ea2e9;
$light-blue: #BCC8DD;

// Durations
$time-instant: 125ms;
$time-quick: 225ms;
$time-regular: 425ms;
$time-slow: 800ms;
$time-very-slow: 1.3s;

// Opacities
$very-low-opacity: 0.18;
$low-opacity: 0.3;
