@mixin padding($size) {
  padding: $size;
}

@mixin padding-y($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin padding-x($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin margin($size) {
  margin: $size;
}

@mixin margin-y($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin margin-x($size) {
  margin-left: $size;
  margin-right: $size;
}

$zero: 0px;
$one: 8px;
$two: 16px;
$three: 24px;
$four: 32px;
$five: 40px;

// Padding
.p-0 {
  @include padding($zero);
}

.p-1 {
  @include padding($one);
}

.p-2 {
  @include padding($two);
}

.p-3 {
  @include padding($three);
}

.p-4 {
  @include padding($four);
}

.p-5 {
  @include padding($five);
}


.py-0 {
  @include padding-y($zero);
}

.py-1 {
  @include padding-y($one);
}

.py-2 {
  @include padding-y($two);
}

.py-3 {
  @include padding-y($three);
}

.py-4 {
  @include padding-y($four);
}

.py-5 {
  @include padding-y($five);
}


.px-0 {
  @include padding-x($zero);
}

.px-1 {
  @include padding-x($one);
}

.px-2 {
  @include padding-x($two);
}

.px-3 {
  @include padding-x($three);
}

.px-4 {
  @include padding-x($four);
}

.px-5 {
  @include padding-x($five);
}


// Margin
.m-0 {
  @include margin($zero);
}

.m-1 {
  @include margin($one);
}

.m-2 {
  @include margin($two);
}

.m-3 {
  @include margin($three);
}

.m-4 {
  @include margin($four);
}

.m-5 {
  @include margin($five);
}


.my-0 {
  @include margin-y($zero);
}

.my-1 {
  @include margin-y($one);
}

.my-2 {
  @include margin-y($two);
}

.my-3 {
  @include margin-y($three);
}

.my-4 {
  @include margin-y($four);
}

.my-5 {
  @include margin-y($five);
}


.mx-0 {
  @include margin-x($zero);
}

.mx-1 {
  @include margin-x($one);
}

.mx-2 {
  @include margin-x($two);
}

.mx-3 {
  @include margin-x($three);
}

.mx-4 {
  @include margin-x($four);
}

.mx-5 {
  @include margin-x($five);
}

.mb-1 {
  margin-bottom: $one;
}

.mt-3 {
  margin-top: $three;
}

.pt-3 {
  padding-top: $three;
}

.pt-4 {
  padding-top: $four;
}
